<div class="wrapper">
    <div class="panel">
        <mat-progress-bar mode="query" *ngIf = "showSpinner" ></mat-progress-bar>
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="unicesar.edu.co">Universidad Popular del Cesar</a>
              </div>
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <a routerLink = "/">
                    <p>Volver</p>
                  </a>
                </li>
              </ul>
            </div>
          </nav>
        <div class="content">
            <div class="container-fluid">
                <div class="row contenido animated fadeInUp">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Registro de docentes</h4>
                            </div>
                        
                            <div class="content">
                                <form>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label>Identificación</label>
                                                <!-- <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.id.errors }" placeholder="Identificación" formControlName="id" [(ngModel)]="docente.id" >
                                                <div *ngIf="submitted && f.id.errors" class="invalid-feedback">
                                                    <div *ngIf="f.id.errors.required">Titulo es requerido</div>
                                           </div> -->
                                                <input type="text" class="form-control" placeholder="Identificación" name = "Identificación" [(ngModel)]="docente.id" >
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Nombres</label>
                                                <input type="text" class="form-control" placeholder="Nombres" name = "Nombres" [(ngModel)]="docente.Nombres">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Apellidos</label>
                                                <input type="text" class="form-control" placeholder="Apellidos" name = "apellido" [(ngModel)]="docente.Apellidos">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label>Teléfono Celular</label>
                                                <input type="text" class="form-control" placeholder="Teléfono Celular" name = "telefono" [(ngModel)]="docente.Telefono">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Vinculo Institucional</label>
                                                <select class="form-control" type = "text" name = "vinculo" [(ngModel)]="docente.VinculoInst">
                                                    <option value="DC">DC</option>
                                                    <option value="DC">DP</option>
                                                    <option value="DC">DO</option>
                                                    <option value="DC">DK</option>
                                                    <option value="DC">CJ</option>
                                                    <option value="DC">EP</option>
                                                    <option value="DC">AD</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Dirección Residencial</label>
                                                <input type="text" class="form-control" name = "direccion" placeholder="Dirección Residencial" [(ngModel)]="docente.direccion">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label>Email</label>
                                                <input type="text" class="form-control" placeholder="Email" name = "email" [(ngModel)]="docente.Email">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Contraceña</label>
                                                <input type="text" class="form-control" placeholder="Contraceña" name = "pass" [(ngModel)]="docente.Pass">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>programa</label>
                                                <select class="form-control" name = "programa" placeholder="programa al que pertenece" [(ngModel)]="facultadId">
                                                    <option *ngFor = "let programa of programas" value="programa.facultadId">{{programa.nombrePrograma}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label>Grupo de Investigación</label>
                                            <select class="form-control" name = "grupo" placeholder="Grupo de investigacion al que pertenece" [(ngModel)]="grupoInvestigacionId">
                                                <option *ngFor = "let grupo of grupoInvestigaciones" value="grupo.id">{{grupo.nombreGrupo}}</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">{{docente.facultadId}} </div>
                                        <div class="col-md-4">{{docente.grupoInvestigacionId}} </div>
                                    </div>
                                    <br><br>
                                    <button class="btn btn-primary btn-fill" (click) = "onSubmit()">Guardar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>