/* .sidebar{
    background-image: url("//assets/img/sidebar-5.jpg");
    background-color: purple;
} */
.img{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 534px;
}
.content{
    opacity: 0.4;
}
